@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
  /* background-color: yellow; */
  font-family: "Nunito", sans-serif;
}

/* Change highlight for the whole site */
::selection {
  background-color: #255f6f;
  color: #ffffff;
}

/* For Firefox support */
::-moz-selection {
  background-color: #255f6f;
  color: #ffffff;
}

.logo-nav {
  @apply text-2xl lg:text-4xl
}

.logo-signin {
  @apply text-8xl 
}

.logo-nav > b, .logo-signin > b {
  @apply capitalize ;
  font-family: "Montserrat Alternates", sans-serif;
}

.note-enter {
  opacity: 0;
}
.note-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.note-exit {
  opacity: 1;
}
.note-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

a {
  color: #15c;

}

a:visited {
  color: #61c;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}