@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.note-enter {
  opacity: 0;
}
.note-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.note-exit {
  opacity: 1;
}
.note-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

a {
  color: #15c;

}

a:visited {
  color: #61c;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}